Repository mozilla-ai/document-to-podcast, pull requests merged in 2025-01, with the labels that each got.

#78 Automatically sync demo to Hugging Face Spaces
  .github/workflows/sync_hf_space.yaml
  demo/app.py
  demo/requirements.txt
Labels: demo

#83 Updates for URL support
  demo/app.py
  src/document_to_podcast/preprocessing/__init__.py
  src/document_to_podcast/preprocessing/data_loaders.py
  tests/unit/preprocessing/test_data_loaders.py
Labels: data loading, demo

#79 Add random-lenght silences.
  demo/app.py
  src/document_to_podcast/cli.py
  src/document_to_podcast/utils.py
Labels: text-to-speech

#86 [Fix] Use correct sample rate attribute
  demo/app.py
  docs/step-by-step-guide.md
Labels: demo

#77 76 add google colab notebook demo
  README.md
  demo/notebook.ipynb
  docs/getting-started.md
  mkdocs.yml
Labels: demo

#84 82 updates for huggingface spaces with gpu
  .github/workflows/sync_hf_space.yaml
  Dockerfile
  demo/Dockerfile
  demo/download_models.py
  demo/requirements.txt
  demo/run.sh
Labels: demo

#88 Reboot HF Space on release
  .github/workflows/sync_hf_space.yaml
  demo/reboot_space.py
Labels: demo

#93 enh(text-to-text): Update default to Qwen2.5-3B-Instruct
  README.md
  demo/app.py
  demo/notebook.ipynb
  docs/step-by-step-guide.md
  example_data/config.yaml
  src/document_to_podcast/cli.py
  src/document_to_podcast/inference/model_loaders.py
Labels: demo

#91 Simplify README
  CONTRIBUTING.md
  README.md
  docs/api.md
  docs/customization.md
  docs/getting-started.md
Labels: documentation
